$font-stack: 'Open Sans', sans-serif;
$primary-color: #FFFFFF;
$secondary-color: #6B63B5;
$normal-color: #00000099;
$hover-color: #6b63b599;
$bg-color: #000000;
$slytherin-color: linear-gradient(135deg, #1C792B 0%, #82E95E 100%);
$ravenclaw-color: linear-gradient(135deg, #0597B7 0%, #66D1FF 100%);;
$hufflepuff-color: linear-gradient(135deg, #FFC700 0%, #FFF388 100%);
$gryffindor-color: linear-gradient(135deg, #FF0000 0%, #FED482 100%);
$breakpoint-laptop: 1023px;
$breakpoint-tablet: 767px;
$breakpoint-mobile: 619px;